{% extends 'index/base.html.twig' %}

{% block body %}
    <div>
        <h1>Index</h1>
    </div>

    <div>
        <a href="{{ path('app_react_index_another') }}"> Go to another</a>
    </div>
{% endblock %}
