{% extends 'index/base.html.twig' %}

{% block content %}
    <div>
        <h1>NoPlayer</h1>
    </div>
{% endblock %}

{% block player  %}
    <p>There is no player in this page.</p>
{% endblock %}
