
<div>
    <h1>Player</h1>
</div>

Player number : {{ random() }}

<div data-controller="hello">
    STIMULUS DIV
</div>

<h1>React</h1>

<div id="react">
    AA
    BB
    {{ random(3,500) }}
</div>

<div>
    <div {{ react_component('Hello', { fullName: ('Toto' ~random(1,1000)) }) }}></div>
</div>
