{% extends 'base.html.twig' %}

{% block title %}Hello Post!{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-xs-4">
            <h1>Post edit</h1>
        </div>
    </div>
    <div class="row">
        {{ component('PostForm', {
            initialFormData: post,
            form: form,
        }) }}
    </div>
{% endblock %}
