{% extends 'base.html.twig' %}

{% block title %}Hello ArticleController!{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-xs-4">
            <h1>Blog creation</h1>
        </div>
    <div class="row">
        <div class="col-xs-8">
            {{ form(form) }}
        </div>
    </div>
{% endblock %}
